

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary text-center ">
              <svg cIcon name="cilPeople"></svg>
            </th>
            <th class="bg-body-tertiary">User</th>
            <th class="bg-body-tertiary text-center">Products</th>
            <th class="bg-body-tertiary">Company Type</th>
            <th class="bg-body-tertiary text-center">Company</th>
            <th class="bg-body-tertiary text-center">Email</th>
            <th class="bg-body-tertiary text-center">Position</th>
            <th class="bg-body-tertiary text-center">UserType</th>
          </tr>
          </thead>
          <tbody>
            @for (user of users; track user.username; let i = $index) {
              <tr>
                <td class="text-center">
                  <c-avatar [size]="'md'" src="../../../assets/images/avatars/9.jpg"  />
                </td>

                <td>
                  <div>{{ user.username }}</div>
                  
                </td>

                <td>
                  <div>{{ user.products }}</div>
                </td>

                <td>
                  <div>{{ user.companyType }}</div>
                </td>
                <td>
                  <div>{{ user.company }}</div>
                </td>
                <td>
                  <div>{{ user.emailAddress }}</div>
                </td>
                <td>
                  <div>{{ user.position }}</div>
                </td>
                <td>
                  <div>{{ user.userType }}</div>
                </td>

                
              </tr>
            }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
