:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}


/* Example CSS for table width adjustment */
.mb-4 {
  margin-bottom: 1rem; /* Adjust margin as needed */
}

.c-card {
  width: 100%; /* Ensure the card takes up full width */
}

.c-card-body {
  padding: 1.25rem; /* Adjust padding as needed */
}

.cTable {
  width: 100%; /* Ensure the table takes up full width */
}
